#title1
{
	float: left;
	width: 100%;
	height: 20rem;
	font-size: 3rem;
	text-align: center;
	margin-right: 5%;
	margin-bottom: 1%;
	text-decoration: underline;
	color: #00e0d9;
	font-weight: bold;
	font-family: impact;
	text-shadow: 3px 3px 5px black;
}

#calculatorHelp
{
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 1.5rem;
	font-family: serif;
	color: white;
	font-weight: normal;
}
#build
{
	width: 30%;
	height: 20rem;
	margin-left: 2%;
	float: left;
	border-radius: 25px;
	text-align: center;
	border-style: solid;
	border-color: white;
	overflow: hidden;
}
.services
{
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
	transition: height 1000ms;
}
.serviceImage
{
	width: 100%;
	height: 100%;
	transition: width 1000ms, height 1000ms, transform 1000ms;
}
.serviceImage:hover
{
	position: relative;
	transform: translate(-4.5%, -4.2%);
    width: 110%;
    height: 110%;
    display: block;
    z-index: 1;
	transition: width 1000ms, height 1000ms, transform 1000ms;
}
#quotes
{
	float: left;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 1000ms;
}
#quoteform
{
	width: 90%;
	height: 25rem;
	border-style: solid;
	border-color: aqua;
	border-radius: 25px;
	padding: 2%;
	margin: 3%;
}
.formBox
{
	width: 90%;
	height: auto;
	margin-left: 5%;
	border-style: solid;
	overflow: hidden;
	border-radius: 25px;
	background-color: black;
	text-align: center;
}

.sizeOutput, .sizeOutput2
{
	text-align: center;
	display: inline;
}

.landscape
{
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 1000ms;
}

.landscape a
{
	color: white;
	text-decoration: none;
}

.structure
{
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 1000ms;
}

.structure a
{
	color: white;
	text-decoration: none;
}

.map
{
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: height 1000ms;
}

.map a
{
	color: white;
	text-decoration: none;
}

.close
{
	font-size: 3rem;
}