body 
{ 
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation
{
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1; 
	} 
} 
#header
{
	float: left;
	background: #008ed1;
	height: 4rem;
	font-size: 3rem;
	border-radius: 25px;
	border-width: 5px;
	border-color: #00e0d9;
	padding-top: 0.5rem;
	width: 80%;
	margin-left: 10%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#title
{
	float: left;
	width: 45%;
	height: 3rem;
	font-size: 3rem;
	text-align: left;
	margin-right: 5%;
	text-decoration: underline;
	color: #00e0d9;
	font-weight: bold;
	//font-family: "Brush Script MT";
	font-family: impact;
	text-shadow: 3px 3px 5px black;
}
#menu 
{
	float: left;
	width: 45%;
	margin-top: 0.5rem;
	margin-left: 4%;
	color: #00e0d9;
	text-shadow: 3px 3px 5px black;
}
#menu a
{
	color: black;
	text-decoration: none;
	font-size: 2rem;
	float: left;
	width: 40%;
	color: #00e0d9;
	text-shadow: 3px 3px 5px black;
}
.h1
{
	font-size: 36px;
	color: black;
}

#mainBody
{
	float: left;
	width: 70%;
	background-color: #333333;
	margin-left: 12%;
	border-radius: 40px;
	border-style: double;
	border-width: 1%;
	border-color: #00e0d9;
	padding: 3%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 80%;
	
	font-size: 2rem;
	color: white;
}

#footer
{
	float: left;
	width: 95.5%;
	height: 8rem;
	background-color: #2e2e2e;
	border-style: solid;
	border-color: black;
	border-width: 5px 5px 0px 5px;
	border-radius: 40px 40px 0px 0px;
	margin-top: 2rem;
	padding: 2%;
	
	font-size: 1rem;
	color: white;
}

.fcontainer
{
	width: 30%;
	float: left;
	margin-right: 1%;
	font-style: italic;
	font-size: 1.5rem;
	text-align: center;
}

.fcontainer a
{
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}
#contact
{
	color: #818181;
	font-size: 25px;
	padding: 32px 8px 8px 32px;
	display: block;
	transition: width 1s;
}

.leftsideNav, .rightsideNav {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
}

.leftsideNav
{
    border-radius: 0 25px 25px 0;
    left: -25%;
    transition: left 1000ms ease;
}

.rightsideNav
{
    border-radius: 25px 0 0 25px;
    right: -25%;
    transition: right 1000ms ease;
}

.leftsideNav a
{
	padding: 32px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: width 1s;
}

.leftsideNav a:hover
{
	color: #f1f1f1;
}

.leftsideNav .closebutton
{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}